.classpath
.settings/
libs/
obj/
target/
.deps/
*.pc
*.d
*.o
*.lo
*.la
jni/ffmpeg-0.7-rc1/config.fate
jni/ffmpeg-0.7-rc1/config.h
jni/ffmpeg-0.7-rc1/config.log
jni/ffmpeg-0.7-rc1/config.mak
jni/ffmpeg-0.7-rc1/opencore-amr_install/
jni/ffmpeg-0.7-rc1/x264install/
.libs
jni/ffmpeg-0.7-rc1/config.mark
