[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = ../ffmpeg
[submodule "external/opencore-amr"]
	path = external/opencore-amr
	url = ../opencore-amr
[submodule "external/x264"]
	path = external/x264
	url = ../x264
